<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Pi Control</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Pi Control</h2>
					</header>
					<header class = "major">
						<h4>현재 온도 : / 현재 습도 : </h4>
					</header>
					<div class="features">
						{% if led == "ON" %}
							<div class="feature" onclick="location.href='/light/off';">
						{% else %}
							<div class="feature" onclick="location.href='/light/on';">
						{% endif %}
								<i class="fa fa-diamond"></i>
							{% if led == "ON" %}
								<h3>LED OFF</h3>
							{% else %}
								<h3>LED ON</h3>
							{% endif %}
								<p>현재 상태 : {{led}}</p>
							</div>
						<div class="feature">
							<i class="fa fa-copy"></i>
							<h3>LED Auto</h3>
							<p>Auto</p>
						</div>
						<div class="feature">
							<i class="fa fa-paper-plane-o"></i>
							<h3>Blind Open</h3>
							<p>현재 상태 : 걷힘</p>
						</div>
						<div class="feature">
							<i class="fa fa-save"></i>
							<h3>Blind Auto</h3>
							<p>Auto</p>
						</div>
						<div class="feature">
							<i class="fa fa-envelope-o"></i>
							<h3>DoorLock Open</h3>
							<p>door</p>
						</div>
					</div>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
